<div>
  <div>{{ randomUser?.username }}</div>
  <button (click)="Edit()">Edit</button>
</div>

<!-- <ng-container *ngFor="let user of userCollection">
  {{ user.username }}
</ng-container> -->

<!-- <li>
  Category: {{ user.category }} | App: {{ user.app }} | Username:
  {{ user.username }}
  <ng-container *ngIf="!isEditMode">
    | Password: {{ user.password }}
    <button (click)="toggleEditMode()">Edit</button>
  </ng-container>
  <ng-container *ngIf="isEditMode">
    | Password:{{ user.password }}
    <input type="text" /> 
    <button (click)="SavePassword()">Save</button>
  </ng-container>
</li> -->
