<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2 class="title">Add password</h2>
    <div>
      <label for="category">Category:</label>
      <input type="text" id="category" formControlName="category" />
    </div>

    <div>
      <label for="app">App:</label>
      <input type="text" id="app" formControlName="app" />
    </div>

    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="isFormInvalid()">Submit</button>

    <div class="card">
      <h2 class="card-title">Category: {{ form.value.category }}</h2>
      <h2 class="card-title">App: {{ form.value.app }}</h2>
      <h2 class="card-title">Username: {{ form.value.username }}</h2>
    </div>
  </form>
</div>
